<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- Custom StyleSheet -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css" />
    <title>ecommerce Website</title>
    <link rel="shortcut icon" href="/favicon.svg" type="svg+xml">
</head>

<body>
    <!-- Header -->
        <!-- Top Nav -->
        <div class="top-nav">
            <div class="container d-flex">
                <p>Call Us: +306993168526</p>
            </div>
        </div>
        <div class="navigation">
            <div class="nav-center container d-flex">
                <h1 class="text-4xl">Dans</h1>

                <ul class="nav-list d-flex">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/faqs" class="nav-link">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/terms" class="nav-link">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                </ul>

                <div class="hamburger">
                    <i class="bx bx-menu-alt-left"></i>
                </div>
            </div>
        </div>


    <!-- New Arrivals -->
    <section class="section new-arrival">
        <div class="product-center">
            <%if(products.length>0){%>
                <%products.map(function(product) { %>
                                <div class="product-item">
                                    <a class="overlay" href="/details?name=<%=product.title%>">
                                        <div class="product-thumb">
                                            <img src="<%=product.url%>" alt=<%=product.title%> />
                                        </div>
                                    </a>
                                    <div class="product-info">
                                        <a href="/details?name=<%=product.title%>"><%=product.title%></a>
                                        <h4><%=product.price%>&euro;</h4>
                                    </div>
                                </div>
                <% })%>
                <%}else if(!products.length>0){%>
                    <div>No products are available for sale right now</div>
                <%}%>
        </div>
    </section>


    <!-- Contact -->
    <section class="section contact">
        <div class="row">
            <div class="col">
                <h2>EXCELLENT SUPPORT</h2>
                <p>We love our customers and they can reach us any time
                    of day we will be at your service 24/7</p>
                <a href="" class="btn btn-1">Contact</a>
            </div>
            <div class="col">
                <form action="">
                    <div>
                        <input type="email" placeholder="Email Address">
                        <a href="">Send</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="row">
            <div class="col d-flex">
                <h4>INFORMATION</h4>
                <a href="/about"">About us</a>
                <a href="/terms">Term & Conditions</a>
            </div>
            <div class="col d-flex">
                <span><i class='bx bxl-facebook-square'></i></span>
                <span><i class='bx bxl-instagram-alt'></i></span>
                <span><i class='bx bxl-github'></i></span>
                <span><i class='bx bxl-twitter'></i></span>
                <span><i class='bx bxl-pinterest'></i></span>
            </div>
        </div>
    </footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
<script src="/slider.js"></script>
<script src="/index.js"></script>
</html>